
<h1>
    Eat Da Burger!
</h1>


<div class = "tile is-ancestor">
    <div class = "tile is-vertical is-12">
        <div class = "tile is-ancestor">
            <div class = "tile is-horizontal is-12 row">
                <div id = "bacon" class = "tile is-4 burger">
                    <p class = "item">1. Bacon Burger Deluxe</p>
                    <script type = "text/x-handlebars-template">
                        <img id = "bacon_burger" class = "icon" src = "/public/assets/images/bacon_burger.jpg">
                    </script>
                 </div>
            </div>
        </div>

        <div class = "tile is-ancestor">
            <div class = "tile is-horizontal is-12 row">
                Row2
            </div>
        </div>
    </div>
</div>




<p>Order</p>


