
<h1 id = "header">
    Eat Da Burger!
</h1>


<div class = "tile is-ancestor">
    <div class = "tile is-vertical is-12">
        <div class = "tile is-ancestor">
            <div class = "tile is-horizontal is-12 row">
                <div id = "hamburger" class = "tile is-4 is-vertical burger">
                    <p class = "item">1. Cheeseburger Deluxe<br></p>
                    <img id = "cheeseburger_icon" class = "icon" src = "assets/images/cheeseburger.jpg">
                 </div>
                <div id = "cheeseburger" class = "tile is-4 is-vertical burger">
                    <p class = "item">2. Hamburger Supreme<br></p>
                    <img id = "hamburger_icon" class = "icon" src = "assets/images/hamburger.jpg">
                 </div>
                <div id = "bacon" class = "tile is-4 is-vertical burger">
                    <p class = "item">3. Bacon Burger Deluxe<br></p>
                    <img id = "bacon_burger_icon" class = "icon" src = "assets/images/bacon_burger.jpg">
                 </div>
            </div>
        </div>

        <div class = "tile is-ancestor">
            <div class = "tile is-horizontal is-12 row">
                <div id = "fish_burger" class = "tile is-4 is-vertical burger">
                    <p class = "item">4. Fish Burger Surprise<br></p>
                    <img id = "fish_burger_icon" class = "icon" src = "assets/images/fish_burger.jpg">
                </div>
                <div id = "veggie_burger" class = "tile is-4 is-vertical burger">
                    <p class = "item">5. Rabbit Food<br></p>
                    <img id = "veggie_burger_icon" class = "icon" src = "assets/images/veggie_burger.jpg">
                </div>
                <div id = "cake_burger" class = "tile is-4 is-vertical burger">
                    <p class = "item">6. Sweet Burger<br></p>
                    <img id = "cake_burger_icon" class = "icon" src = "assets/images/cake_burger.jpg">
                </div>
            </div>
        </div>
    </div>
</div>




<div id = "orders">
    <p id = "ordered"> Burgers you ordered: </p>
    <div id = "stats">

    </div>
</div>


